{% extends "base.html" %}
{% block content %}
    <h1>ALBUMS</h1>
    <p class="important">
      Welcome, {{ user_info['firstname'] }}!
    </p>

    <div class = "album-list">

        {% for album in album_list %}
            {% if album[4] %}
                <a href= '{{ url_for("album.album_route", albumid=album[0]) }}'>
                    <img src="{{ url_for('static', filename=path + album[4])}}">
                </a>
            {% else %}
                <a href= '{{ url_for("album.album_route", albumid=album[0]) }}'>
                    <img src="{{ url_for('static', filename=path + no_cover)}}">
                </a>
            {% endif %}
            <br/>
            <a href= '{{ url_for("album.album_route", albumid=album[0]) }}'>{{ album[1] }}</a>
            {% if edit %}
                <a href= '{{ url_for("album.album_edit_route", albumid=album[0]) }}'>edit</a>
                <form method="post">
                    <input type="hidden" name="op" value="delete">
                    <input type="hidden" name="albumid" value="{{album[0]}}">
                    <input type="submit" value="delete"/>
                </form>
            {% endif %}
        <br/>
        {% endfor %}
        <br/>
        {% if edit %}
            <form method="post">
                Album Name:<br/>
                <input type="hidden" name="op" value="add">
                <input type="hidden" name=username value="{{ user_info['username'] }}">
                <input type="text" name="title" value="new album"><br/>
                <input type="submit" value="Submit"><br/>
            </form>
        {% endif %}
    </div>
    <div class = "edit-bar">
        <a href = "{{ url_for('albums.albums_edit_route', username=user_info['username'])}}">Edit</a>
    </div>
{% endblock %}